@font-face {
  font-family: "LexendExa";
  src: url("../assets/font/LexendExa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.rating-container {
  margin-top: -0.5rem;
  text-align: center;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "LexendExa";
  justify-self: center;
}

.average-rating h1 {
  font-size: 2em;
  margin-bottom: 5px;
}

.average-rating .star {
  color: #ffd700;
  font-family: "LexendExa";
}

.course-title h2 {
  font-size: 1.5em;
  margin: 10px 0;
  font-family: "LexendExa";
}

.rate-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 1rem;
  margin-top: 1rem;
}

.rate-button:hover {
  background-color: #0056b3;
}

.rating-breakdown {
  margin-top: 20px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 20px 10px;
  width: 100%;
  font-family: "LexendExa";
}

.rating-bar {
  display: flex;
  align-items: center;
  font-family: "LexendExa";
}

.rating-bar span {
  font-size: 0.9em;
}

.professor-list {
  margin-top: 20px;
  text-align: left;
  font-family: "LexendExa";
}

a {
  color: #0c1d2e;
  text-decoration: underline;
}

.professor-names {
  text-align: center;
  font-size: 1em;
  margin: 10px 0;
  font-family: "LexendExa";
}

.professor-subtitle {
  font-size: 0.72em;
  margin: 10px 0;
  font-family: "LexendExa";
  text-align: center;
}

.difficulty-title {
  margin-top: 2.5em;
  text-align: center;
  font-size: 1em;
}

.difficulty-number {
  margin-top: -0.2rem;
  color: #d62323;
  text-align: center;
}

.course-info {
  margin-top: 1.25rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.25fr min-content 0.25fr;
  align-items: start;
  justify-content: center;
  gap: 4rem;
  padding: 1rem;
}

div#outer-five {
  margin-top: 0.2rem;
  height: 1rem;
  display: grid;
  grid-template-columns: 7fr 1fr;
  > div:nth-child(1) {
    background: #6c9f6b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  > div:nth-child(2) {
    background: rgb(197, 193, 193);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

div#outer-four {
  margin-top: 0.2rem;
  height: 1rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  > div:nth-child(1) {
    background: #6c9f6b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  > div:nth-child(2) {
    background: rgb(197, 193, 193);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

div#outer-three {
  margin-top: 0.2rem;
  height: 1rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  > div:nth-child(1) {
    background: #e1a400;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  > div:nth-child(2) {
    background: rgb(197, 193, 193);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

div#outer-two {
  margin-top: 0.2rem;
  height: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  > div:nth-child(1) {
    background: #e1a400;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  > div:nth-child(2) {
    background: rgb(197, 193, 193);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

div#outer-one {
  margin-top: 0.2rem;
  height: 1rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  > div:nth-child(1) {
    background: #d62323;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  > div:nth-child(2) {
    background: rgb(197, 193, 193);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.comments-container{
  font-family: "LexendExa"; 
}

.comments-title {
    margin-left: 5rem;
}


